<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="icon" href="../assets/images/Pyramid_backwards.svg" />
    <title>Paulo's About</title>
  </head>
  <body>
    <nav>
      <a href="/" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            height="60px"
          />
          <p>Paulo's</p>
        </span>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <section class="column">
        <h1>Our Foundations</h1>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            quisquam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Suscipit perspiciatis sed dicta inventore amet consectetur quam.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            delectus architecto. Facilis delectus sequi deleniti maxime vel,
            minus hic? Quibusdam quod est accusamus modi sunt saepe harum
            facilis assumenda aspernatur?
          </p>
        </article>
      </section>
      <section class="column">
        <img
          src="../assets/images/face2.svg"
          alt="main image"
          height="400px"
          class="shape"
        />
      </section>
    </div>
    <div class="main-content">
      <section class="column disappear-on-small-screen">
        <img
          src="../assets/images/face1.svg"
          alt="main image"
          class="shape"
          height="400px"
        />
      </section>
      <section class="column">
        <h1>We are here for our clients</h1>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            quisquam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Suscipit perspiciatis sed dicta inventore amet consectetur quam.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            delectus architecto. Facilis delectus sequi deleniti maxime vel,
            minus hic? Quibusdam quod est accusamus modi sunt saepe harum
            facilis assumenda aspernatur?
          </p>
        </article>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            quisquam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Suscipit perspiciatis sed dicta inventore amet consectetur quam.
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
            delectus architecto. Facilis delectus sequi deleniti maxime vel,
            minus hic? Quibusdam quod est accusamus modi sunt saepe harum
            facilis assumenda aspernatur?
          </p>
        </article>
      </section>
      <section class="column">
        <h1>Creativity is our best tool 🎨</h1>
        <article>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
            quisquam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Suscipit perspiciatis sed dicta inventore amet consectetur quam.
          </p>
        </article>
      </section>
    </div>

    <footer>
      <p>
        Author: Paulo Briceno<br />
        <a href="mailto:pabrcn@gmai.com">Contact</a>
      </p>
    </footer>
  </body>
</html>
