<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.5, user-scalable=no"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="icon" href="../assets/images/Pyramid_backwards.svg" />
    <title>Paulo's About</title>
  </head>
  <body>
    <nav>
      <a href="/coder-house-web-development/" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            height="60px"
          />
          <p>Paulo's</p>
        </span>
      </a>
      <ul>
        <li><a href="/coder-house-web-development/">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <section class="column">
        <h1>Our Foundations</h1>
        <article>
          <p>
            Our company is a small team of passionate company leader who were
            compromised to create a company in which our clients could trust. We
            are ready to work with you and help you to achieve your goals. Our
            goal is to provide you with the best services and solutions.
          </p>
        </article>
      </section>
      <section class="column">
        <img src="../assets/images/face2.svg" alt="main image" height="400px" />
      </section>
    </div>
    <div class="main-content">
      <section class="column disappear-on-small-screen">
        <img src="../assets/images/face1.svg" alt="main image" height="400px" />
      </section>
      <section class="column">
        <h1>We are here for our clients</h1>
        <article>
          <p>
            Our clients are our priority. We are always ready to help you and
            provide you with the best services and solutions.
          </p>
          <p>
            We are always looking for new and innovative ways to help our
            clients. We are always ready to help you and provide you with the
            best we our team can give.
          </p>
        </article>
      </section>
      <section class="column">
        <h1>Creativity is our best tool 🎨</h1>
        <article>
          <p>
            Our team is composed by creative people who are always ready to help
            us and provide you innovative frameworks to build your business.
          </p>
        </article>
      </section>
    </div>

    <footer>
      <p>
        Author: Paulo Briceno<br />
        <a href="mailto:pabrcn@gmail.com">Contact</a>
      </p>
    </footer>
  </body>
</html>
