<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/calculator/calculator.css" />
    <link rel="icon" href="../assets/images/Pyramid_backwards.svg" />
    <title>Paulo's Calculator</title>
  </head>
  <body>
    <nav>
      <a href="/coder-house-web-development/" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            height="60px"
          />
          <p>Paulo's</p>
        </span>
      </a>
      <ul>
        <li><a href="/coder-house-web-development/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="">Calculator</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="services.html">Services</a></li>
      </ul>
    </nav>
    <!--professionals select-->

    <div class="calculator">
      <div>
        <label for="professionals">Professionals</label>
        <select id="professionals" required>
          <option>Select Professional</option>
          <option>Designer</option>
          <option>Developer</option>
          <option>Manager</option>
        </select>
      </div>
      <!--hours text input-->
      <div>
        <label for="hours">Hours</label>
        <input type="number" id="hours" placeholder="Enter Hours" required />
      </div>
      <button type="submit" value="Calculate" id="calculate">Calculate</button>
    </div>
    <div id="result" class="resume"></div>

    <script type="module" src="../scripts/main.js"></script>
  </body>
</html>
