<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/careers/careers.css" />
    <link rel="icon" href="../assets/images/Pyramid_backwards.svg" />
    <title>Careers at Paulo's</title>
  </head>
  <body>
    <nav>
      <a href="/" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            height="60px"
          />
          <p>Paulo's</p>
        </span>
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="">Careers</a></li>
      </ul>
    </nav>
    <div class="main-container">
      <h1>We're thrilled to work with you!</h1>
      <label for="resume"><h2>Drop your resume here:</h2></label>

      <input
        type="file"
        id="resume"
        name="resume"
        accept="image/png, image/jpeg, pdf"
      />
      <div class="main-content">
        <img src="../assets/images/work.svg" alt="main image" class="worker" />
      </div>
    </div>

    <footer>
      <p>
        Author: Paulo Briceno<br />
        <a href="mailto:pabrcn@gmai.com">Contact</a>
      </p>
    </footer>
  </body>
</html>
