<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            class="pyramid"
            height="60px"
          />
          <p>Logo</p>
        </span>
      </a>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>

    <div class="main-content">
      <section class="column">
        <h1>Welcome to the site</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum,
          quisquam Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Suscipit perspiciatis sed dicta inventore amet consectetur quam
          dolorem sint veniam reprehenderit, dignissimos exercitationem
          similique quidem ipsa, laborum quibusdam. A, ad possimus?.
        </p>
      </section>
      <section class="right-column">
        <img
          src="../assets/images/Pyramid_backwards.svg"
          alt="main image"
          class="pyramid"
        />
      </section>
    </div>
  </body>
</html>
