<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="icon" href="../assets/images/Pyramid_backwards.svg" />
    <title>Paulo's About</title>
  </head>
  <body>
    <nav>
      <a href="/coder-house-web-development/" class="logo">
        <span>
          <img
            src="../assets/images/Pyramid_backwards.svg"
            alt="logo image"
            height="60px"
          />
          <p>Paulo's</p>
        </span>
      </a>
      <ul>
        <li><a href="/coder-house-web-development/">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="calculator.html">Calculator</a></li>
        <li><a href="careers.html">Careers</a></li>
        <li><a href="">Services</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <section class="column">
        <h1>We make connections</h1>
        <p>
          Using our service you will be able to connect with other coders and
          developers. You will be able to see their projects and contact them.
          In addition you will be able to see the projects that you have created
          and edit them. And improve you team easily.
        </p>
      </section>
      <section class="column">
        <img src="../assets/images/Atom.svg" alt="main image" class="shape" />
      </section>
    </div>
    <div class="main-content">
      <section class="column disappear-on-small-screen">
        <img src="../assets/images/Torus.svg" alt="main image" class="shape" />
      </section>
      <section class="column">
        <h1>With our help you are gonna make it</h1>
        <p>
          Our compromise with you is making your company achieve your ongoing
          goals . We will be there in your team to help you do whatever you have
          set your mind to.
        </p>
      </section>
    </div>
    <footer>
      <p>
        Author: Paulo Briceno<br />
        <a href="mailto:pabrcn@gmail.com">Contact</a>
      </p>
    </footer>
  </body>
</html>
